#/opt/homebrew/bin/python3 -m pip install ipykernel -U --user --break-system-packages 
#/opt/homebrew/bin/python3 -m pip install -r requirements.txt --break-system-packages



pydantic>=2.0.0
invisible-watermark
opencv-python
pillow
numpy
PyWavelets
scipy
torch 
torchvision
huggingface_hub
datasets
scikit-learn
tqdm
ipykernel
ipywidgets
transformers
accelerate>=1.1.0
birder